@import "themes.css";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: var(--ff-lato);
  text-align: center;
  color: var(--beyaz);
}
.container {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}
.logo {
  padding: 1rem;
  background-color: var(--mavi-6);
}
.menu {
  padding: 1rem;
  background-color: var(--mavi-2);
}
.banner {
  padding: 4rem;
  background-color: var(--koyu-kirmizi);
}
.bolum1,
.bolum2,
.bolum3 {
  height: 53.5vh;
  background-color: var(--koyu-yesil);
  border: 1px solid var(--gri-1);
}

.bolum4,
.bolum5,
.bolum6 {
  padding: 1rem;
  background-color: var(--acik-kirmizi);
  border: 1px solid var(--gri-5);
}
.footer {
  padding: 2rem;
  background-color: var(--turuncu);
}
